<%= render "layouts/navbar" %>
<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">TFM: Estrés en Actividades</h1>
        <p class="lead text-muted">Trabajo de Fin de Máster sobre el estrés en personas mayores, realizando una actividades cotidianas mediante la recopilación de datos fisiológicos con smartwatch.</p>
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
        <div class="text-center">
          <lottie-player src="<%= asset_path('lottie/welcome.json') %>"  background="transparent"  speed="1"  class="img-fluid" style="width: 75%; margin: 0 auto;"  loop  autoplay></lottie-player>
        </div>
      </div>
    </div>
  </section>
</main>