<%= render "layouts/navbar" %>
<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">TFG: Estrés en Transportes</h1>
        <p class="lead text-muted">Trabajo de Fin de Grado sobre el estrés en personas mayores, realizando una actividad cotidiana como el usar el transporte público mediante la recopilación de datos fisiológicos con smartwatch.</p>
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
        <div class="text-center">
          <lottie-player src="<%= asset_path('lottie/welcome.json') %>"  background="transparent"  speed="1"  class="img-fluid" style="width: 75%; margin: 0 auto;"  loop  autoplay></lottie-player>
        </div>
<!--        <p>-->
<!--          <a href="#" class="btn btn-primary my-2">Main call to action</a>-->
<!--          <a href="#" class="btn btn-secondary my-2">Secondary action</a>-->
<!--          <button type="button"-->
<!--                  class="btn btn-lg btn-danger"-->
<!--                  data-bs-toggle="popover"-->
<!--                  title="Popover title"-->
<!--                  data-bs-content="Amazing content, right ?">-->
<!--            Click to toggle popover-->
<!--          </button>-->
<!--        </p>-->
      </div>
    </div>
  </section>
</main>