<% content_for :title, rodauth.logout_page_title %>

<%= form_with url: rodauth.logout_path, method: :post, data: { turbo: false } do |form| %>
  <% if rodauth.features.include?(:active_sessions) %>
    <div class="form-group mb-3">
      <div class="form-check">
        <%= form.check_box rodauth.global_logout_param, id: "global-logout", class: "form-check-input" %>
        <%= form.label "global-logout", rodauth.global_logout_label, class: "form-check-label" %>
      </div>
    </div>
  <% end %>

<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold" style="padding-bottom: 50px; ">¿Realmente desea salir?</h1>
  <div class="col-lg-6 mx-auto">
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <div class="form-group mb-3">
      <%= form.submit "Salir", class: "btn btn-warning btn-lg px-4 gap-3"%>
      <button type="button" class="btn btn-outline-secondary btn-lg px-4" onclick="history.back()">Cancelar</button>
      </div>
    </div>
  </div>
</div>
<% end %>