<div id="<%= dom_id tags_repository %>">
  <p>
    <strong>Name:</strong>
    <%= tags_repository.name %>
  </p>

  <p>
    <strong>Name wearos:</strong>
    <%= tags_repository.name_wearos %>
  </p>

  <p>
    <strong>Icon:</strong>
    <% if tags_repository.icon.attached? %>
      <%= image_tag(tags_repository.icon, width: 200) if tags_repository.icon.attached? %>
      <%#= image_tag tags_repository.icon %>
    <% end %>
  </p>

</div>
