<div id="<%= dom_id tags_repository %>">
  <p>
    <strong>Name:</strong>
    <%= tags_repository.name %>
  </p>

  <p>
    <strong>Name wearos:</strong>
    <%= tags_repository.name_wearos %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= tags_repository.image %>
  </p>

</div>
