<p style="color: green"><%= notice %></p>

<h1>Tags repositories</h1>

<div id="tags_repositories">
  <% @tags_repositories.each do |tags_repository| %>
    <%= render tags_repository %>
    <p>
      <%= link_to "Show this tags repository", tags_repository %>
    </p>
  <% end %>
</div>

<%= link_to "New tags repository", new_tags_repository_path %>
