<div id="<%= dom_id accelerometer_measure %>">
  <p>
    <strong>Measurement:</strong>
    <%= accelerometer_measure.measurement %>
  </p>

  <p>
    <strong>Activity:</strong>
    <%= accelerometer_measure.activity_id %>
  </p>

</div>
