<h1>Editing accelerometer measure</h1>

<%= render "form", accelerometer_measure: @accelerometer_measure %>

<br>

<div>
  <%= link_to "Show this accelerometer measure", @accelerometer_measure %> |
  <%= link_to "Back to accelerometer measures", accelerometer_measures_path %>
</div>
