<p style="color: green"><%= notice %></p>

<h1>Accelerometer measures</h1>

<div id="accelerometer_measures">
  <% @accelerometer_measures.each do |accelerometer_measure| %>
    <%= render accelerometer_measure %>
    <p>
      <%= link_to "Show this accelerometer measure", accelerometer_measure %>
    </p>
  <% end %>
</div>

<%= link_to "New accelerometer measure", new_accelerometer_measure_path %>
