<div id="<%= dom_id gps_measure %>">
  <p>
    <strong>Measurement:</strong>
    <%= gps_measure.measurement %>
  </p>

  <p>
    <strong>Activity:</strong>
    <%= gps_measure.activity_id %>
  </p>

</div>
