<h1>Editing gps measure</h1>

<%= render "form", gps_measure: @gps_measure %>

<br>

<div>
  <%= link_to "Show this gps measure", @gps_measure %> |
  <%= link_to "Back to gps measures", gps_measures_path %>
</div>
