<p style="color: green"><%= notice %></p>

<h1>Gps measures</h1>

<div id="gps_measures">
  <% @gps_measures.each do |gps_measure| %>
    <%= render gps_measure %>
    <p>
      <%= link_to "Show this gps measure", gps_measure %>
    </p>
  <% end %>
</div>

<%= link_to "New gps measure", new_gps_measure_path %>
